<div class="adbanner">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="adbanner-container d-flex justify-content-center">
            <img class="ad-image-round" src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_180,h_180,c_fill/h6hnlyiaygi5vmkhqdol" />
            <div class="ad-text p-3">
            <h3>Introducing Swiggy Pop</h3>
            <p>Single Serve Meals, Free Delivery, No Extra Charges</p>
          </div>
          <app-button buttonText='Get Now' class="p-3"></app-button>
        </div>
      </div>
      <div class="col-md-6">
          <div class="adbanner-container d-flex justify-content-center">
            <div class="row">
              <img class="ad-image" src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto/SuperNewLogo_loz2q9" />
              <div class="ad-text p-3">
              <h3>Introducing Swiggy SUPER</h3>
              <p>The membership program you've been waiting for</p>
            </div>
            <app-button buttonText='Get Super Now' class="p-3"></app-button>
          </div>
        </div>
    </div>
  </div>
</div>
