<div class="food-banner">
  <div class="container">
    <div class="row">
      <div class="col-md-3 pb-2">
        <div class="banner-img-container d-flex justify-content-center">
          <img width="260" height="260" src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_520,h_520/d6ydbsnbpansujp8fxta"
            class="banner-img" />
        </div>
      </div>
      <div class="col-md-3 pb-2">
        <div class="banner-img-container d-flex justify-content-center">
          <img width="260" height="260" src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_520,h_520/ynksxhov6n0aqvxfpmsv"
            class="banner-img" />
        </div>
      </div>
      <div class="col-md-3 pb-2">
        <div class="banner-img-container d-flex justify-content-center">
          <img width="260" height="260" src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_520,h_520/gyaajtrsvqr0xngfhfgo"
            class="banner-img" />
        </div>
      </div>
      <div class="col-md-3 pb-2">
        <div class="banner-img-container d-flex justify-content-center">
          <img width="260" height="260" src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_520,h_520/xmrs3ubj29k7l2nm5zlj"
            class="banner-img" />
        </div>
      </div>
    </div>
  </div>
</div>
